body{
    background-color: #fff492ad;
}

#gamearea{
    background-color: #fef28c;
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#player{
    transform: scale(.5);
    transform-origin: top left;
}
#playerare{
    top: 20px;
    left: 10px;
}