body {
    margin: 0;
    font: 20px 'Verdana';
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.word-spaces td{
  border: 2px solid black;
  width: 20px;
  height: 20px;
  padding: 1px;
  color: white;
  background-color: white;
}

button {
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 0px;
    margin: 3px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(238,174,202);
}

table {
    margin: 100px;
}

#results {
    padding-top: 20px;
}

